nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
  /* Agregar estilos según sea necesario para el ícono del menú */
}

.logo {
  width: 5rem;
  /* Estilos para el logo si es necesario */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left :Link {
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--whithe);
} 

.navbar-left ul:hover {
  color: var(--hospital-green);
  border-radius: 10px;
}


@media (max-width: 640px) {
  nav {
    align-items: center;
  }

  .menu {
    display: block;
    width: 20px;
    height: 20px;
    /* Agregar estilos según sea necesario para el ícono del menú en versión móvil */
  }

  .navbar-left :link {
    display: none;
  }
}