.header{
  position: fixed;
}


nav {
  display: flex;
  border-bottom: 1px solid var(--very-light-pink);
  padding-bottom: 10px;
  align-items: center;
  flex-direction: column;
 
}
.menu {
  display: none;
  /* Agregar estilos según sea necesario para el ícono del menú */
}
.logo {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  /* Estilos para el logo si es necesario */
}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left :Link { 
  font-size: var(--lg);
  padding: 10px;
  border: 1px solid var(--whithe);
} 

.navbar-left ul:hover {
  color: var(--hospital-green);
  border-radius: 10px;
}


@media (max-width: 640px) {
  nav {
    align-items: center;
  }

  .menu {
    display: block;
    width: 20px;
    height: 20px;
    /* Agregar estilos según sea necesario para el ícono del menú en versión móvil */
  }

  .navbar-left :link {
    display: none;
  }
}