@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Oxygen:wght@400;700&display=swap");

/* variables de estilos */
:root {
  --white: #e2e2e2;
  --black: #000000;
  --very-light-pink: rgb(36, 204, 27);
  --text-input-field: #f7f7f7;
  --hospital-green: #3f9c4a;

  /* medidas de texto */
  --ms: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.primary-button {
  background-color: var(--hospital-green);
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white);
  cursor: pointer;
  font-size: var(--md); /* Use provided font size */
  font-weight: bold;
  height: 40px;
  margin-bottom: 1.5rem;
  transition: background-color 0.2s ease-in-out;

}

.secondary-button {
  background-color: var(--white);
  border-radius: 9px;
  border: 1px solid var(--very-light-pink); /* Use provided color */
  color: var(--very-light-pink); /* Use provided color */
  cursor: pointer;
  font-size: var(--md); /* Use provided font size */
  font-weight: bold;
  height: 40px;
  transition: border-color 0.2s ease-in-out;

}
