
.species{
  margin: 2rem;
  background-image: url('../app//info//01.jpeg');
}
.species-container {
  display: grid;
  place-items: center;
  

}

.species-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.species-item {
    width: 25%;
    margin: 0.5rem;
    padding: 10px;
    border: 2px solid #797a7a;
    border-radius: 30px;
    place-items: center;
    background-color: #00ff620e;
  }

img {
  width: 240px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}
  

