.cart-products {
  position: fixed;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
  top: 15%;
  left: 78%;
  background-color: #45a049;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.cart-count {
  margin-bottom: 10px;
  font-weight: bold;
}

.cart-items {
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
}

.carrito-cart {
  display: flex;
  justify-content: space-around;
  margin: 12px;
  border-bottom: 1px solid rgba(240, 233, 233, 0.355);
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-controls button:hover {
  background-color: #45a049;
}

.quantity-controls span {
  margin: 0 7px;
  font-weight: bold;
}

.total-p {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}


.cart-close{
  width: 90%;
}
.cart-close p{
  color: black;
}


@media screen and (max-width: 840px) {
  .cart-products {
    left: 58%;
  }
  
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 580px) {
  .cart-products {
    left: 35%;
  }
}

/* Ajustes adicionales para pantallas muy pequeñas (ej. dispositivos pequeños) */
@media screen and (max-width: 420px) {
  .cart-products {
    left: 30%;
  }
}
