





.navbar-shopin-cart{
    position: absolute;
    right: 0px;

}
.carrito{
    width: 2rem;
}



.carrito-display {
    position: absolute;
    margin: 1rem;
}
.carrito-hiden{
    display: none;
}